[submodule "AnimateDiff-SceneFusion"]
	path = AnimateDiff-SceneFusion
	url = https://github.com/BlueStarBurst/AnimateDiff-SceneFusion.git

[submodule "EveryDream"]
	path = AnimateDiff-SceneFusion/data/EveryDream
	url = https://github.com/victorchall/EveryDream.git